.content-header h1 {
    font-size: 1.8rem;
    /* margin: 0; */
    text-transform: capitalize;
}

.box_item {
    font-family: "Nanum Gothic", sans-serif;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#notifications-data ul li {
    background: #fff;
    margin-bottom: 10px;
    list-style-type: none;
}

.dropdown-menu-right {
    max-height: 400px;
    overflow-y: auto;
}

img.animation__shake {
    -webkit-animation: rotation 2s infinite linear;
}

label.sort-form-select.lable-select {
    width: 42%;
}
span.actions{
    display: flex;
}
.filter-heading {
    font-size: 20px;
    font-weight: 600;
    /* background-color: #007bff; */
    color: #007bff;
    padding: 10px 0;

}

.profile-user-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.description-box input::placeholder {
    font-size: 12px;
    color: grey
}

.description-box .form-control {
    padding: 5px;
    height: 28px;
    border: 1px solid #ced4da !important;
}

.description-box {
    padding: 10px;
    width: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.dropdown-item {
    white-space: pre-line;
    line-height: 18px;
    font-size: 15px;
}

.cross_icon img {
    width: 15px;
}

.box_item:hover .image_overlay img {
    transform: scale(1);
}

.box_item .form-label {
    font-size: 10px;
}

.box_item:hover .image_overlay_card {
    display: inline-flex;
}

.image_overlay {
    position: relative;
}

/* .image_overlay_card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: .3s ease-in;
    background: #00000061;

} */

.cross_icon {
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    height: 30px;
    z-index: 9991;
    display: none;
    cursor: pointer;
    justify-content: center;
}

.box_item textarea.form-control {
    height: auto;
    font-size: 13px;
    border: none;
}

.box_item:hover .cross_icon {
    background: white;
}

.box_item:hover .cross_icon a {
    color: black;
}

.box_item:hover .cross_icon {
    display: inline-flex;
}

.cross_icon a {
    font-size: 20px;
    color: black;
    transform: rotate(45deg);
    text-decoration: none;
}

.library-hover-buttons {
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

.change_thumb_btn a {
    background: #32a337;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.show-video-btn a {
    background: #244aac;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

/*qt_wrap*/
.qt_wrap.mt {
    margin-top: 25px;
}

.qt_wrap .form-label {
    font-weight: bold;
}

.form-label {
    font-size: 19px;
    color: #192737;
    margin-bottom: 0;
}

.image_overlay img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    width: 100%;
    background: #d3f4d4;
}

.fileupload {
    width: 248px;
    height: 131px;
    border-radius: 3px;
    background: #fafafa;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 2px 6px rgb(0 0 0 / 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.fileupload p {
    font-size: 18px;
    margin: 15px 0 0 0;
    color: #6e757c;
    max-width: 200px;
    line-height: normal;
}

.fileupload input.upload {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: -1px;
    top: -3px;
    padding: 5px;
    height: 152px;
    width: 297px;
}

.box_item video {
    width: 100%;
}

.box_item audio {
    max-width: 100%;
    height: 35px;
}

/* modal design css */
.common-model-style .modal-content {
    border-radius: 12px;
}

.common-model-style .modal-body {
    padding: 0px 40px 41px;
}

.library-detail.common-model-style .modal-body {
    padding: 30px 40px 40px;
}

.common-model-style .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #32a337;
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
    max-height: 500px;
}

.common-model-style .modal-body .table-responsive td {
    color: #4d515c;
    font-size: 15px;
}

.common-model-style .modal-header {
    padding: 30px 40px;
    background: #d3f4d4;
    clip-path: ellipse(186% 100% at -11.2% 0%);
    border: none;
}

.common-model-style .btn-close {
    position: absolute;
    background-color: #d31f24;
    opacity: 1;
    background-image: none;
    padding: 23px;
    right: -24px;
    top: -19px;
    border-radius: 50%;
    z-index: 1;
}

.common-model-style .btn-close:hover {
    background-color: #32a337;
}

.common-model-style .btn-close::after,
.common-model-style .btn-close::before {
    position: absolute;
    left: 22px;
    content: " ";
    height: 26px;
    width: 3px;
    background-color: #fff;
    top: 10px;
}

.common-model-style .btn-close::before {
    transform: rotate(-136deg);
}

.common-model-style .btn-close:after {
    transform: rotate(-52deg);
}

.btn-close:focus {
    opacity: 1;
    box-shadow: none;
}

.bg-warning,
.bg-warning>a {
    color: #fff !important;
}
.show-hide-pass-eye {
    position: relative;
}
span.eye-custom {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
}
.change_thumb_btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.bg-purple {
    background-color: purple !important;
}
button.btn.btn-secondary.buttons-excel {
    margin-left: 15px;
}
.country-code-select{
    max-width: 88px;
}